<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
      #map-canvas {
          height: 480px;
          width: 900px;
          margin: 0px;
          padding: 0px
      }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
      var map;
      var marker;
      function initialize() {
          var myLatlng= new google.maps.LatLng(<%= @loc.actual_latitude %>,<%= @loc.actual_longitude %>)
          var mapOptions = {
              zoom: 12,
              center: myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);

          marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'Drag me!',
              draggable: true
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function verify()
      {
          var actual_location=marker.getPosition();
          var url='/admin/places/'+'<%= @loc.id %>'+'/update_location?latitude='+actual_location.lat()+'&longitude='+actual_location.lng();
          $.ajax({
              complete:function(request)
              {
//                  window.load(admin_places_path);
              },
              url:url,
              success: function(data,textStatus,jqXHR)
              {
                  alert("Position Updated");
              }
          });

      }
  </script>
</head>
<body>
<div id="map-canvas"></div>
<br/>
<a href="#" class="button" onclick="verify()">Submit</a>
<%= link_to "Cancel", admin_places_path, :class => "button" %>
</body>
</html>